<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj Egzamin</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            padding: 20px;
            color: #333;
        }
        form {
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
            width: 300px;
            margin: auto;
        }
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        input[type="text"],
        input[type="date"],
        input[type="number"] {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
        }
        button:hover {
            background-color: #45a049;
        }
    </style>
</head>

<body>
<%- include('partials/navbar') %>
<h1>Dodaj nowy egzamin</h1>
<form action="/exams" method="POST">
    <input type="hidden" name="subjectId" value="<%= subjectId %>">

    <label for="name">Nazwa:</label>
    <input type="text" id="name" name="name" required><br>

    <label for="description">Opis:</label>
    <input type="text" id="description" name="description"><br>

    <label for="date">Data:</label>
    <input type="date" id="date" name="date" required><br>

    <label for="grade">Ocena:</label>
    <input type="number" id="grade" name="grade" step="0.1"><br>

    <button type="submit">Dodaj Egzamin</button>
</form>
</body>
</html>
