/* style.css */
#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    max-width: 700px;
    margin: 20px auto;
}

.day {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

.today {
    background-color: #e0ffff;
}

.exam {
    background-color: #add8e6;
    color: #000;
    margin-top: 5px;
    padding: 2px;
    border-radius: 5px;
}


