<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona Główna</title>
</head>
<body>
<%- include('partials/navbar') %> <!-- Dołącz navbar, jeśli go stworzyłeś -->
<h1>Witaj w aplikacji do śledzenia postępów w nauce!</h1>
<p>Ta aplikacja pomoże Ci monitorować Twój postęp w nauce różnych przedmiotów.</p>
<a href="/add-subject">Dodaj nowy przedmiot</a> | <a href="/subjects">Zobacz listę przedmiotów</a>
</body>
</html>
