<!DOCTYPE html>
<html lang="">
<head>
    <title>Lista przedmiotów</title>
</head>
<body>
<%- include('partials/navbar') %>
<h1>Przedmioty</h1>
<ul>
    <% subjects.forEach(function(subject) { %>
        <li><%= subject.name %> - Poziom: <%= subject.level %></li>
    <% }) %>
</ul>
</body>
</html>
