<nav>
    <div style="padding: 20px; background-color: #f3f3f3;">
        <a href="/">Strona główna</a> |
        <a href="/subjects">Lista przedmiotów</a> |
        <a href="/add-subject">Dodaj przedmiot</a>
    </div>
</nav>
