<head>
    <!-- FullCalendar CSS -->
    <link href='https://unpkg.com/fullcalendar/main.min.css' rel='stylesheet' />

    <!-- FullCalendar JS (zależności) -->
    <script src='https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js'></script>
    <script src='https://unpkg.com/fullcalendar/main.min.js'></script>
</head>
<nav>
    <div style="padding: 20px; background-color: #f3f3f3;">
        <a href="/">Strona główna</a> |
        <a href="/subjects">Lista przedmiotów</a> |
        <a href="/add-subject">Dodaj przedmiot</a> |
        <a href="/calendar">Kalendarz Egzaminów</a>
    </div>
</nav>
