<!DOCTYPE html>
<html lang="">
<head>
    <title>Dodaj Przedmiot</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f0f0f4;
            margin: 0;
            padding: 20px;
        }

        /* Styling for the main heading *
        h1 {
            text-align: center;
            color: #333;
            padding: 20px 0;
        }

        /* Form styling */
        form {
            background-color: #fff;
            max-width: 500px;
            margin: 20px auto;
            padding: 20px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        /* Label styling */
        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        /* Input field styling */
        input[type="text"] {
            width: calc(100% - 22px);
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        /* Button styling */
        button {
            width: 100%;
            padding: 10px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background-color: #0056b3;
        }

        /* Responsive adjustments */
        @media (max-width: 600px) {
            form {
                width: 100%;
                padding: 10px;
            }
        }
    </style>
</head>
<body>
<%- include('../partials/navbar') %>
<h1>Dodaj nowy przedmiot</h1>
<form action="/subjects" method="post">
    <label for="name">Nazwa przedmiotu:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="level">Poziom zaawansowania:</label>
    <input type="text" id="level" name="level" required>
    <br>
    <label for="achievements">Osiągnięcia:</label>
    <input type="text" id="achievements" name="achievements">
    <br>
    <button type="submit">Dodaj Przedmiot</button>
</form>
</body>
</html>
